*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 10px;
    background: linear-gradient(to right, rgb(109, 43, 172), #090979, rgba(0,212,255,1));
}



.calculator_grid{
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: minmax(7rem, auto) repeat(5,4rem);
    opacity: 70%;
}

.wide_button{
grid-column: span 2;
}

.tall_button{
    grid-row: span 2;
    }

.output{
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;
     /* align-items: flex-end;  */
    justify-content: space-around;
    background-color:rgba(8, 8, 112, 0.3);
    padding: 0.5rem;

}

.output .current_operation{
    align-self: flex-end;
    color:white;
    font-size: 3rem;

}

.previous_operand{
    color:rgba(219, 219, 219, 0.815);
    font-size: 2rem;
}

.current_operand{
    color:white;
    font-size: 3rem;
}